<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.exampleproject">

    <!--常规权限-->
    <!--允许程序唤醒机器-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许应用程序访问网络连接-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许应用程序在手机锁屏后进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许访问振动设备-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--允许应用程序挂载、卸载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--允许应用程序获取网络信息状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许应用程序读取或写入系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许应用程序访问Wi-Fi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许应用程序打开系统窗口，显示其他应用程序-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--允许应用程序改变Wi-Fi连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许应用程序改变网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--允许应用程序连接配对过的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--允许应用程序开机自动运行-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许应用程序读取日志-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!--隐私权限-->
    <!-- 注：targetSdkVersion>23，需要动态获取以下权限 -->
    <!--允许应用程序写入联系人，但不可读取-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!--允许应用程序访问GMail账户列表-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--允许应用程序读取联系人通讯录信息-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--允许应用程序读取通话记录-->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <!--允许应用程序读取电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许应用程序拨打电话,从非系统拨号器里初始化一个电话拨号-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--允许应用程序写入通话记录-->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <!--允许应用程序使用SIP视频服务-->
    <uses-permission android:name="android.permission.USE_SIP"/>
    <!--允许应用程序监视、修改外拨电话-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!--允许应用程序使用语音邮件-->
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL"/>

    <!--允许应用程序读取用户日历数据-->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <!--允许应用程序写入用户日程，但不可读取-->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <!--允许应用程序访问摄像头-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--允许应用程序访问用户使用的传感器的数据来测量他/她的身体内发生的事情，如心率-->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <!--允许应用程序通过GPS获取精确的位置信息-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--允许应用程序通过WiFi或移动基站获取粗略的位置信息-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--允许应用程序读取扩展存储器-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--允许应用程序写入外部存储，如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--允许应用程序录制音频-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--允许应用程序读取短信内容-->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!--允许应用程序接收WAP PUSH信息-->
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <!--允许应用程序接收彩信-->
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <!--允许应用程序接收短信-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--允许应用程序发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--允许应用程序获取小区广播-->
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.startup.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--下载后台服务（多任务下载）-->
        <service android:name=".data.util.net.okhttp.okserver.download.DownloadService"/>


        <!--极光推送，用户自定义的广播接收器-->
        <receiver
            android:name=".util.push.MyJPushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.example.exampleproject" />
            </intent-filter>
        </receiver>


        <!-- 适配7.0FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.exampleproject.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>